.b-header( style="background-image: url('./assets/img/banner.jpg')")
  .b-header__content  
    h1.blog__title TOUREPEDIA BLOG 
    p A place to find all travel related blog all over the world.
  .about
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel saepe, non quae sunt dolores eligendi corporis voluptas quam, illum necessitatibus maxime inventore quisquam, eius laborum iste illo consectetur doloribus dignissimos.
