main.main
	section.prom-container.cf
		section.main-blogs
			.blog
				.header
					h3.title Why we need something before something

				.body.overlay.o4
					img.img(src="./assets/img/fairy_lights.jpg" alt="main blog image")
					ul.options 
						li 1k S
						li 20k T
					.info This is a small info about the blog that we have title above. This is a small info about the blog that we have title above.
				.footer
					span 16th December 2015
					a(href="#") Sudhir Mitharwal
					span 4 min read

		aside.tags-trend
			.panel
				h3.panel__header Popular Tags
				.panel__body.tags
					a(href="#") Places
					a(href="#") Stories
					a(href="#") Motivational
					a(href="#") Planning

			.trend
				.panel
					.panel__header: h3 Trending blogs
					.panel__body
						a.media(href="#" title="20 Places to visit in india") 
							img.media__img(src="./assets/img/flatboats.jpg" alt="title image")
							span.media__text 20 Places to visit in india
						a.media(href="#" title="My story for Manali") 
							img.media__img(src="./assets/img/houses_by_the_sea.jpg" alt="title image")
							span.media__text My story for Manali
						a.media(href="#" title="Why we should do before going on a trip") 
							img.media__img(src="./assets/img/header_back.jpg" alt="title image")
							span.media__text Why we should do before going on a trip	
