
<nav data-ng-controller="MenuController as mc" class="navbar navbar--fixed-top clearfix">
  <div id="mobileMenu" data-ng-class="{'mobile-menu-container--active': mc.showMenu}" data-ng-click="mc.showMenu = !mc.showMenu" class="mobile-menu-container">
    <ul class="list mobile-menu"><a ui-sref="home" class="list__item mobile-menu__item"><span class="logo">Tourepedia</span></a><a ui-sref="home" class="list__item mobile-menu__item btn">Plan A Trip</a>
      <button data-ng-click="mc.loginSignup()" class="list__item mobile-menu__item btn">login/Signup</button>
    </ul>
  </div>
  <ul class="list navbar__menu navbar__menu--left">
    <li data-ng-click="mc.showMenu = !mc.showMenu" class="list__item list__item--inline navbar__menu__item btn navbar__menu__item--toggle"><i class="fa fa-bars"></i></li><a ui-sref="home" class="list__item list__item--inline list__item--inline--first navbar__menu__item"><span class="logo">Tourepedia</span></a>
    <li class="list__item list__item--inline list navbar__menu__item--toggle-items"><a ui-sref="home" class="list__item list__item--inline navbar__menu__item">Plan A trip</a></li>
  </ul>
  <ul class="list navbar__menu navbar__menu--right">
    <button data-ng-hide="mc.loggedIn" data-ng-click="mc.loginSignup()" class="list__item list__item--inline navbar__menu__item avatar btn"><img src="./assets/img/avatar.png" alt="user icon" class="avatar__image avatar__image--x-small"/></button>
    <button b-dropdown="b-dropdown" data-ng-show="mc.loggedIn" class="list__item list__item--inline navbar__menu__item avatar btn dropdown"><img src="./assets/img/author1.png" alt="user icon" class="avatar__image avatar__image--x-small"/>
      <ul class="list"><a href="" class="list__item">Account</a></ul>
    </button>
  </ul>
</nav>