mixin card-blog()
  .card.card--blog
    img.card__image(src="./assets/img/blog1.jpg"  alt="Blog Image")
    .card__title  This is the title for the blog.
    .card__body
      a.blog__info.avatar(href="#")
        img.avatar__image.avatar__image--x-small(src="./assets/img/author1.png" alt="author")
        span.avatar__text
          span.avatar__title Sudhir Mitahrwal
          span.avatar__sub-title July 16, 2016  
            span.dot-devider &middot;  
            |  4 min
      .blog__description This is some descriptions of the blog. This could be set to a maximum size and then use ...
    .card__footer
      .btn-list
        a.btn-list__item.btn(ui-sref="blog")
          i.fa.fa-arrow-right
          |  Read
        button.btn-list__item.btn(type="button")
          i.fa.fa-thumbs-up
          |  Like
        button.btn-list__item.btn(type="button")
          i.fa.fa-share
          |  Share
          
.media.author-info
  .media__image.author-info__left
    img.author-info__image(src="http://placehold.it/100X100" alt="DP")
    //- img.author-info__image(src="./img/author1.png" alt="DP")
    h2.author-info__name Sudhir Mitharwal
    p.author-info__email luckysud4@gmail.com
    
    ul.list.author-info__actions 
      li.list__item.list__item--inline.btn.btn--primary Follow
      li.list__item.list__item--inline.btn.btn--primary Email
  .media__body.author-info__right
    h3 About
    p.author-info__bio Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nulla nemo ipsum libero, doloremque id deserunt animi quisquam itaque reiciendis, facere accusantium. Obcaecati laborum recusandae, quia corporis minus, voluptate consequatur.</p>
    ul.list.author-info__socials 
      a.list__item.list__item--inline.list__item--first.btn.btn--default.btn--circle(href="#"): i.fa.fa-facebook
      a.list__item.list__item--inline.list__item--first.btn.btn--default.btn--circle(href="#"): i.fa.fa-twitter
      a.list__item.list__item--inline.list__item--first.btn.btn--default.btn--circle(href="#"): i.fa.fa-google-plus
hr
.blogs
  +card-blog
  +card-blog
  +card-blog
  +card-blog
