
<div class="media author-info">
  <div class="media__image author-info__left"><img src="http://placehold.it/100X100" alt="DP" class="author-info__image"/>
    <h2 class="author-info__name">Sudhir Mitharwal</h2>
    <p class="author-info__email">luckysud4@gmail.com</p>
    <ul class="list author-info__actions"> 
      <li class="list__item list__item--inline btn btn--primary">Follow</li>
      <li class="list__item list__item--inline btn btn--primary">Email</li>
    </ul>
  </div>
  <div class="media__body author-info__right">
    <h3>About</h3>
    <p class="author-info__bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nulla nemo ipsum libero, doloremque id deserunt animi quisquam itaque reiciendis, facere accusantium. Obcaecati laborum recusandae, quia corporis minus, voluptate consequatur.</p></p>
    <ul class="list author-info__socials"> <a href="#" class="list__item list__item--inline list__item--first btn btn--default btn--circle"><i class="fa fa-facebook"></i></a><a href="#" class="list__item list__item--inline list__item--first btn btn--default btn--circle"><i class="fa fa-twitter"></i></a><a href="#" class="list__item list__item--inline list__item--first btn btn--default btn--circle"><i class="fa fa-google-plus"></i></a></ul>
  </div>
</div>
<hr/>
<div class="blogs">
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a href="#" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span> 4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a href="#" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span> 4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a href="#" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span> 4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a href="#" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span> 4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
</div>