
<nav data-ng-controller="MenuController as mc" class="nav-bar nav-fix clearfix"><a href="#" class="logo"> Tourepedia</a>
  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
    <li data-ng-hide="loggedIn"><a href="" data-ng-click="mc.loginSignup()">Login/Signup</a></li>
    <li b-dropdown="b-dropdown" data-ng-show="loggedIn" class="dropdown">
      <button class="btn">Name</button>
      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="" data-ng-click="mc.logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>