
<div class="blog">
  <div style="background-image: url('./assets/img/blog1.jpg')" class="b-header">
    <div class="b-header__content">
      <h1 class="blog__title">This is the title of the blog.</h1><a ui-sref="author" class="avatar blog-info"><img src="./assets/img/author1.png" alt="DP" class="avatar__image avatar__image--small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitharwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;</span> 4 min</span></span></a>
    </div>
  </div>
  <div class="blog__content">
    <h2>This is a second level heading</h2>
    <p> I am some paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minus quis cupiditate molestiae, aspernatur nostrum maiores voluptatibus ipsam! Molestiae ad corporis aperiam voluptatibus magni consequatur aspernatur repellendus quos. Fugiat, vitae!</p><img src="./assets/img/blog2.jpg" alt="Blog Image"/>
    <p>I am the caption of the image</p>
    <h3>I am a third level heading</h3>
    <p>Here goes another paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. To know more <a href="#">here</a> Ipsum autem magni, tempore facilis blanditiis maiores iure vel nesciunt cupiditate nisi, quia voluptate. Sint autem obcaecati aliquam sit possimus in perspiciatis!</p>
    <blockquote cite="http://www.worldwildlife.org/who/index.html">asdf</blockquote>
  </div>
  <div class="blog__related"></div>
</div>