
<div b-slider="b-slider" class="slider">
  <div class="slider__container">
    <div class="slider__item slider__item--active">
      <div class="trending-blog">
        <div style="background-image: url('./assets/img/blog3.jpg')" class="trending-blog__image"></div>
        <div class="trending-blog__content">
          <div class="blog-title">This is the title of the blog</div><a ui-sref="author" class="blog-info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016<span class="dot-devider">&middot;</span>4 min</span></span></a>
          <div class="blog-description">
            This is some text about the current blog and we can put some ouline
            about the blog. this can be long and long and long. so lets say this
            blog is about places, the we can say that many places in india need
            attention of visitors.
          </div>
          <div class="blog-actions"><a ui-sref="blog" class="btn btn--default"> <i class="fa fa-arrow-right"> </i>Read</a>
            <button type="button" class="btn btn--default"><i class="fa fa-thumbs-up"></i>Like</button>
            <button type="button" class="btn btn--default"><i class="fa fa-share"> </i>Share</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="trending-blog">
        <div style="background-image: url('./assets/img/blog2.jpg')" class="trending-blog__image"></div>
        <div class="trending-blog__content">
          <div class="blog-title">This is the title of the second blog</div><a ui-sref="author" class="blog-info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016<span class="dot-devider">&middot;</span>4 min</span></span></a>
          <div class="blog-description">
            This is some text about the current blog and we can put some ouline
            about the blog. this can be long and long and long. so lets say this
            blog is about places, the we can say that many places in india need
            attention of visitors.
          </div>
          <div class="blog-actions"><a ui-sref="blog" class="btn btn--default"> <i class="fa fa-arrow-right"> </i>Read</a>
            <button type="button" class="btn btn--default"><i class="fa fa-thumbs-up"></i>Like</button>
            <button type="button" class="btn btn--default"><i class="fa fa-share"> </i>Share</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__item">
      <div class="trending-blog">
        <div style="background-image: url('./assets/img/blog1.jpg')" class="trending-blog__image"></div>
        <div class="trending-blog__content">
          <div class="blog-title">This is the title of the third blog</div><a ui-sref="author" class="blog-info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016<span class="dot-devider">&middot;</span>4 min</span></span></a>
          <div class="blog-description">
            This is some text about the current blog and we can put some ouline
            about the blog. this can be long and long and long. so lets say this
            blog is about places, the we can say that many places in india need
            attention of visitors.
          </div>
          <div class="blog-actions"><a ui-sref="blog" class="btn btn--default"> <i class="fa fa-arrow-right"> </i>Read</a>
            <button type="button" class="btn btn--default"><i class="fa fa-thumbs-up"></i>Like</button>
            <button type="button" class="btn btn--default"><i class="fa fa-share"> </i>Share</button>
          </div>
        </div>
      </div>
    </div>
  </div><span s-ctrl-type="left" class="slider__arrow slider__arrow--left"></span><span s-ctrl-type="right" class="slider__arrow slider__arrow--right"></span>
</div>
<div class="search search--blogs"><i class="search__icon fa fa-search"></i>
  <input type="search" name="blogSearch" placeholder="Search" class="search__input"/>
</div>
<div class="blogs">
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a ui-sref="author" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span>4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a ui-sref="author" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span>4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a ui-sref="author" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span>4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
  <div class="card card--blog"><img src="./assets/img/blog1.jpg" alt="Blog Image" class="card__image"/>
    <div class="card__title"> This is the title for the blog.</div>
    <div class="card__body"><a ui-sref="author" class="blog__info avatar"><img src="./assets/img/author1.png" alt="author" class="avatar__image avatar__image--x-small"/><span class="avatar__text"><span class="avatar__title">Sudhir Mitahrwal</span><span class="avatar__sub-title">July 16, 2016  <span class="dot-devider">&middot;  </span>4 min</span></span></a>
      <div class="blog__description">This is some descriptions of the blog. This could be set to a maximum size and then use ...</div>
    </div>
    <div class="card__footer">
      <div class="btn-list"><a ui-sref="blog" class="btn-list__item btn"><i class="fa fa-arrow-right"></i> Read</a>
        <button type="button" class="btn-list__item btn"><i class="fa fa-thumbs-up"></i> Like</button>
        <button type="button" class="btn-list__item btn"><i class="fa fa-share"></i> Share</button>
      </div>
    </div>
  </div>
</div>