
<div class="modal__header">
  <div class="title">Signup</div><span data-ng-click="closeModal()" class="modal__close"><i class="fa fa-close"></i></span>
</div>
<div class="modal__body">
  <form name="signupForm" novalidate="novalidate" class="signup-form">
    <fieldset class="input__group fl">
      <input type="text" id="name" name="name" required="required" class="rnd"/>
      <label for="name">Name</label>
    </fieldset>
    <fieldset class="input__group fl">
      <input type="email" id="email" name="email" required="required" class="rnd"/>
      <label for="email">Email</label>
    </fieldset>
    <fieldset class="input__group fl">
      <input type="password" id="password" name="password" required="required" class="rnd"/>
      <label for="password">Password</label>
    </fieldset>
    <fieldset class="input__group fl">
      <input type="password" id="rePassword" name="rePassword" required="required" class="rnd"/>
      <label for="rePassword">Confirm Password</label>
    </fieldset>
    <filedset class="input__group">
      <button type="submit" data-ng-disabled="signupForm.$invalid" class="btn submit">Submit</button>
    </filedset>
  </form>
</div>
<div class="modal__footer">
  <p>Already have an account? <button class="btn link" data-ng-click="wants = 'login'">Login here.<button></p>
</div>